<!DOCTYPE html>
<html layout:decorate="~{qa_shared_content/qa_layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iQA | Forgot Password</title>
  <style th:replace="~{shared/style}"></style>
</head>
<body >

<div class="container " layout:fragment="content">
  <div class="hold-transition login-page">

    <div th:if="${message}" class="alert alert-success" role="alert">
      <i class="fas fa-info-circle"></i> [[${message}]]
    </div>


    <div class="login-box">
      <div class="login-logo">
        <a href="/"><b>i</b>QA 99.01</a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg font-weight-bold">Forgot your password? Retrieve it here.</p>

          <form th:action="@{/public/reset-password}" method="post">
            <div class="input-group mb-3">
              <input type="text" class="form-control" name="username" placeholder="Username, Mobile, or Email" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-user"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Request Password Reset</button>
              </div>
            </div>
          </form>


          <!-- Links to Login and Register -->
          <div class="mt-3 d-flex flex-column align-items-center">
            <p class="mb-2">
              <a class="text-decoration-none text-primary" th:href="@{/login_lte}">
                <i class="fas fa-sign-in-alt mr-2"></i> Login
              </a>
            </p>
            <p class="mb-0">
              <a class="text-decoration-none text-success" th:href="@{/public/signup}">
                <i class="fas fa-user-plus mr-2"></i> Register
              </a>
            </p>
          </div>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
  </div>

</div>

<!-- /.login-box -->

<!-- Required Scripts -->
<div th:replace="~{shared/script}"></div>
</body>
</html>
